[submodule "exercise_1_WebClientDevelopment"]
	path = exercise_1_WebClientDevelopment
	url = https://github.com/RIYORIALDY/WebClientDevelopment.git
[submodule "exercise_2_WebClientDevelopment"]
	path = exercise_2_WebClientDevelopment
	url = https://github.com/RIYORIALDY/WebClientDevelopment.git
[submodule "exercise_3_WebClientDevelopment"]
	path = exercise_3_WebClientDevelopment
	url = https://github.com/RIYORIALDY/WebClientDevelopment.git
[submodule "exercise_4_WEB-PROTOFOLIO"]
	path = exercise_4_WEB-PROTOFOLIO
	url = https://github.com/RIYORIALDY/WEB-PROTOFOLIO.git
[submodule "exercise_5_Pokemon-Web"]
	path = exercise_5_Pokemon-Web
	url = https://github.com/RIYORIALDY/Pokemon-Web.git
[submodule "exercise_6_Pok-mon"]
	path = exercise_6_Pok-mon
	url = https://github.com/RIYORIALDY/Pok-mon.git
